.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal__container {
    background-color: #fff;
    margin: auto;
    width: 430px;
    height: 330px;
    padding: 36px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal__heading {
    max-width: 330px;
    height: 23px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
}

.modal__form {
    max-width: 358px;
    display: flex;
    flex-direction: column;
}

.modal__input {
    width: 358px;
    height: 14px;
    top: 306px;
    left: 461px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
}

.modal__button {
    width: 358px;
    height: 50.15px;
    border-radius: 2px 0px 0px 0px;
    background-color: #000;
    color: #eee;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
}

.modal__close {
    background-image: url(../images/Close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    border: none;
    width: 40px;
    height: 40px;
    top: -45px;
    right: -45px;
    cursor: pointer;
}
