.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s linear, visibility 0s 0.6s;
}

.modal_opened {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.modal__container {
    background-color: #fff;
    margin: auto;
    width: 430px;
    padding: 36px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.modal__heading {
    max-width: 330px;
    font-family: Inter, Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
    margin: 0;
}

.modal__form {
    max-width: 358px;
    display: flex;
    flex-direction: column;
}

.modal__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-top: 54px;
}

.modal__input:nth-of-type(2n) {
    margin-top: 30px;
}

.modal__button {
    width: 358px;
    height: 50.15px;
    border-radius: 2px 0px 0px 0px;
    background-color: #000;
    color: #eee;
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    margin-top: 48px;
    border: none;
}

.modal__button_disabled {
    border: 1px 0px 0px 0px;
    opacity: 0.2;
}

.modal__close {
    background-image: url(../images/Close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    border: none;
    width: 40px;
    height: 40px;
    top: -45px;
    right: -45px;
    opacity: 1;
    transition-delay: 0s;
}

.modal__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

.modal__container_type_preview {
    background: transparent;
    z-index: 1;
    max-width: 75vw;
    max-height: 75vh;
}

.modal__description {
    color: #fff;
    max-width: 291px;
    max-height: 12px;
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.modal__error {
    font-size: 12px;
    line-height: 15px;
    color: #f00;
    transition: opacity 0.3s;
}

@media screen and (max-width: 680px) {
    .modal__container {
        max-width: 282px;
        padding-left: 19px;
        padding-right: 19px;
    }

    .modal__close {
        width: 26px;
        height: 26px;
        left: 248px;
    }

    .modal__heading {
        max-width: 238px;
        font-size: 18px;
    }

    .modal__form {
        max-width: 238px;
    }

    .modal__button {
        max-width: 238px;
        font-size: 14px;
    }
}
