.page {
    background-color: #000;
    margin: 0;
}

.page__content {
    font-family: Inter, Arial, sans-serif;
    color: #fff;
    padding: 0 20px;
}

.page__section {
    max-width: 882px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .page__content {
        padding: 0px;
    }
}

@media screen and (max-width: 680px) {
    .page__content {
        margin: 0;
    }
}
