.profile {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 40px;
    max-width: 880px;
    width: 100%;
}

.profile__avatar-container {
    position: relative;
    display: inline-block;
}

/*.profile__avatar-edit {
    width: 26;
    height: 26;
    top: 206px;
    left: 247px;
    position: absolute;
    background: transparent url(../images/EditIcon.svg) center no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.3s;
}

profile__avatar-edit:hover {
    cursor: pointer;
}*/

.profile__image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-position: center;
    margin-right: 30px;
}

.profile__image:hover {
    background: transparent url("../images/EditIcon.svg") center no-repeat;
    opacity: 0.6;
    background-size: contain;
    transition: opacity 0.3s ease;
    width: 26px;
    height: 26px;
    top: 206px;
    left: 247px;
    background: #ffffff;
}

.profile__info {
    max-width: 417px;
    width: 100%;
    display: grid;
    align-items: baseline;
    column-gap: 18px;
    row-gap: 14px;
    grid-template-areas:
        "title button"
        "description description";
}

.profile__title {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    grid-area: title;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 375px;
}

.profile__description {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    grid-area: description;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 415px;
}

.profile__edit-button {
    background: transparent url(../images/EditButton.svg) center no-repeat;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    grid-area: button;
}
.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button {
    background: transparent url(../images/AddButton.svg) center no-repeat;
    max-width: 150px;
    width: 100%;
    height: 50px;
    margin-left: auto;
    border: 2px solid #fff;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile {
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    .profile__edit-button {
        margin-right: 10px;
    }
}

@media screen and (max-width: 680px) {
    .profile {
        box-sizing: border-box;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    .profile__info {
        max-width: 282px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        column-gap: 10px;
        row-gap: 6px;
    }

    .profile__image {
        margin: 0;
    }

    .profile__title {
        width: 196px;
        font-size: 22px;
        line-height: 26.63px;
        margin-left: 27px;
    }

    .profile__description {
        width: 282px;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 36px;
    }

    .profile__edit-button {
        background-size: 7.5px 7.5px;
        width: 18px;
        height: 18px;
        margin: 0;
    }

    .profile__add-button {
        background-size: 16px 16px;
        max-width: 282px;
        margin: 0;
    }
}
